$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark:#28b485;

$color-grey-dark: #777;
$color-grey-dark-2: 999;

$color-white:#fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #b6aeae8e;


$color-secondary-light: #ffb900;
$color-secondary: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary: #5643fa;

$default-font-size: 1.6rem;