//don't need to include  _ or .scss as sass will work it out
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base'; 
@import 'base/animations';  
@import 'base/typography';  
@import 'base/utilities';  

@import 'pages/home';

@import 'components/button';

@import 'layout/header';








