.container,
.flex-container{
    max-width: 114rem;
    margin: 0 auto;
}

.flex-container{
    display:flex;
    justify-content: space-between ;
    align-items: center;

    @include respond(tab-port){
        width:100% !important;
        margin-right: 0;
    }

    @include respond(tab-port){
        flex-direction:column;
        margin: 2rem 0;
    }


    &__story{
        margin-bottom:100px;
    }

    .col-1-of-2{
        padding: 20px;
        width: 48%;

        @include respond(tab-port){
            width:90% !important;
        }
    }

    .col-1-of-3{
        width: 32%;
        @include respond(tab-port){
            width:90% !important;
        }
    }
    
    .col-2-of-3{
        margin-top:20px;
        padding: 20px;
        background-color: green;
        width: 66%;
    }

    .col-1-of-4 {
        width: 23%;
        @include respond(tab-port){
            width:90% !important;
        }
    }
    
    .col-2-of-4 {
        margin-top:20px;
        padding: 20px;
        background-color: goldenrod;
        width: 46%;
    }

    
    .col-3-of-4 {
        margin-top:20px;
        padding: 20px;
        background-color: blueviolet;
        width: 69%;
    }
}


// .container {
//     display:flex;
//     justify-content: center;
// }
