.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    @include respond(tab-port){
        margin:3rem;
    }

    &__side{
        height: 50rem;
        width:100%;
        text-align: center;
        transition: all 1s ease;
        position:absolute;
        top:0;
        left:0;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow:hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

        &--front{
            background-color: $color-white;
        }

        &--back{
            transform: rotateY(-180deg);

            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary);
            }

            &-2{
                background-image: linear-gradient(to right bottom, $color-primary,$color-primary-light,);
            }

            &-3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0deg);
    }

    //front side styling

    &__picture{
        background-size: cover;
        height:23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            
            &--1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary), url(img/nat-5.jpg);
            }
    
            &--2{
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-light), url(img/nat-6.jpg);
            }
    
            &--3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary), url(img/nat-7.jpg);
            }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color:white;
        position: absolute;
        top:12rem;
        right:2rem;
        text-align: right;
        width:75%;
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        &--1{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.85), rgba($color-secondary, 0.85));
        }

        &--2{
            background-image: linear-gradient(to right bottom, rgba($color-primary, 0.85), rgba($color-primary-light, 0.85));
        }

        &--3{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.85), rgba($color-tertiary, 0.85));
        }
    }

    &__details{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
        ul {
            list-style: none;
            width:80%;
            margin-top:2rem;
            li {
                font-size: 1.4rem;
                padding:1rem;
            }

            li:not(:last-child){
                border-bottom: 1px solid rgba($color-grey-light-2, 0.2);
            }
        }
    }


    //back side styling
    &__cta{
        display:flex;
        flex-direction: column;
        align-items:center;
    }

    &__price-box{
        padding: 6rem;
        color:white;
    }

    &__price-only{
        font-size: $default-font-size;
        text-transform: uppercase;
    }

    &__price-value{
        margin-top: 5rem;
        font-size: 8rem;
        font-weight:200;
    }

    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {

            height: auto;
            border-radius: 3px;
            background-color: $color-white;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

            &__side {
                height: auto;
                position: relative;
                box-shadow: none;

                &--back {
                    transform: rotateY(0);
                    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
                }
            }

            &:hover &__side--front {
                transform: rotateY(0);
            }


            &__details {
                padding: 1rem 3rem;
            }

            // FRONT SIDE STYLING
            &__cta {
                transform: translate(0);
                padding: 5rem 4rem 4rem 4rem;
            }

            // &__price-box {
            //     margin-bottom: 3rem;
            // }

            &__price-value {
                font-size: 4rem;
            }

            .btn--white:last-child{
                margin-bottom: 6rem;
            }
    }

}