.form{

    &__group:not(:last-child){
        margin-bottom:2rem;
    }

    &__group{

    }

    &__input{
        font-size:1.5rem;
        padding: 1.5rem 2rem;
        color:inherit;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border:none;
        font-family:inherit;
        border-bottom: 3px solid transparent;
        width:90%;
        display:block;
        transition: all .3s;

        &:focus{
            outline:none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 4px solid $color-primary;

            &:invalid{
            border-bottom: 4px solid $color-secondary;
            }
        }

        &::-webkit-input-placeholder{
            color:$color-grey-dark-2;
        }
    }


    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left:2rem;
        margin-top:.7rem;
        display:block;
        transition:all .3s;
    }

    //adjacent sibling selector (+) - go to input and then the direct sibling i.e. label
    //when there is placeholder text, the label shouldn't be shown
    &__input:placeholder-shown + &__label{
        opacity:0;
        visibility:hidden;
        transform: translateY(-4rem);
    }


    &__radio-group{
        display:flex;
        justify-content:space-around;
        align-items: center;
    }

    &__radio-label{
        margin-right:7rem;
        font-size: $default-font-size;
    }

    &__radio-input{

    }

}