.popup{
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba($color-black, 0.8);
    z-index:30;
    display:flex;
    justify-content: center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition: all .3s;


    &__content{
        position:absolute;
        // top:50%;
        // left:50%;
        // transform:translate(-50%, -50%);
        width:80%;
        background-color: white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius:3px;
        display:table;
        overflow:hidden;
    }

    &__left{
        //use table cell to set left and right sections to be the same height
        //parent element has to be set to table
        //then work out column widths i.e. this one is a third
        width:33.33333%;
        display:table-cell;

    }

    &__right{
        width:66.66667%;
        display:table-cell;
        //same as align-items:center
        vertical-align: middle;
        padding: 3rem 5rem;

        h3{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.5rem;
        }


    }

    &__img{
        display:block;
        width:100%;
    }

    &__text{
        font-size:1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-1;
        hyphens:auto;
    }

        //makes the popup visible when it's clicked on
        &:target{
            opacity:1;
            visibility:visible;
        }
    
        &__close{
            &:link,
            &:visited{
                color: $color-grey-dark;
                position:absolute;
                top:2.5rem;
                right:2.5rem;
                font-size: 3rem;  
                text-decoration: none;
                display:inline-block;
                transition:all .3s;
            }
    
            &:hover{
                color: $color-primary;
            }
        }

}
