.story {
    width:75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    padding: 6rem;
    font-size: $default-font-size;
    display:flex;
    transform:skewX(-12deg);

    & > * {
        transform:skewX(12deg);
    }

    &__shape{
        width:15rem;
        height:15rem;
        margin-right: 3rem;
        flex-shrink:0;
        clip-path: circle(50% at 50% 50%);
        position:relative;
    }

    &__image{
        height: 100%;
        transform:translateX(-4rem) scale(1.4);
    }

    &__text{

    }

    &__caption{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, 20%);
        color: white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity:0;
        transition:all 0.2s;
    }

    &:hover &__caption{
        opacity:1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        filter:blur(3px);
        transform:translateX(-4rem) scale(1);
    }
}

