.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    //20 = polygon takes up 75vh of 95vh, so 95-75
    margin-top: -20vh;
}

.section-features {
    padding:20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary,0.7), rgba($color-primary-light,0.7), rgba($color-primary-dark, 0.7) ), url('/img/nat-4.jpg');
    background-size: cover;

    @media only screen and (min-width:900px){
    clip-path:polygon(0 15%, 100% 0%, 100% 85vh, 0% 100%);
    margin-top:-15vh;
    }
}