.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    //20 = polygon takes up 75vh of 95vh, so 95-75
    margin-top: -20vh;
    @include respond(tab-port){
        padding-top: 8rem;
        padding-bottom:3rem;
        margin-top:-5vh;
    }
}

.section-features {
    padding:20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary,0.7), rgba($color-primary-light,0.7), rgba($color-primary-dark, 0.7) ), url('/img/nat-4.jpg');
    background-size: cover;

    @media only screen and (min-width:900px){
    clip-path:polygon(0 15%, 100% 0%, 100% 85vh, 0% 100%);
    margin-top:-15vh;
    }

    @include respond(tab-port){
        padding-top:5rem;
        margin-bottom:8rem;
    }
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 20rem 0 15rem 0;
    margin-top: -20vh;

    @include respond(tab-port){
        padding-top:8rem;

    }
}

.section-stories{
    padding: 15rem 0 5rem 0rem;
    position:relative;

}

.section-book{
    padding:15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary, $color-primary-light);
}

.book{
    background-image: linear-gradient(105deg, rgba($color-white, 0.8) 0%, rgba($color-white, 0.9) 50%, transparent 50%), url(/img/nat-10.jpg);
    display:cover;
    border-radius:3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);

    &__form{
        width:40%;
        padding:4rem;
    }

    @include respond(tab-land){
        width:80%;
        margin-left:8rem;
        background-image: linear-gradient(to right, rgba($color-white, 0.8) 0%, rgba($color-white, 0.9) 100%), url(/img/nat-10.jpg);

        &__form{
            width:100%;
        }
    }
}